body {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.7;
  color: #333333;
  background: #fff;
}

h1{
  color: #6DAF54;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400px;
  margin: 0 0 10px 0;
}

p {
    text-align: center;
}

a {
   color: #6DAF54; 
}

div{
    text-align:center;
}

.img-center {
  margin:0 auto;
  display:block;
}

.backarrow{
    height: 30px;
    width: 30px;
    position:absolute;
    top:2%;
    left:10%;
}

.img-center-camera {
  margin:0 auto;
  display:block;
  margin-top: 30px;
}

.fakeimg {
    height: 200px;
    background: #aaa;
  }

.jumbotron {
    background-color: white;
    color: #6DAF54
}

.navbar {
    background-color: white;
}

.card-header {
    text-align: center;
    font-weight: bold;
    background-color: white;
    font-size: 1.4rem;
    
}

.card-body {
    text-align: center;
    font-size: 1rem
}

.card {
    margin-bottom: 40px;
  box-shadow: 1px 1px #888888;
}

.card img{
    width: 70px;
    height: 70px;
    margin-right: 30px;
    margin-left: 35px;
}

.btn {
    margin-bottom: 10px;
    margin-top: 10px;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 24px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close2 {
  color: white;
  float: right;
  font-size: 24px;
  font-weight: bold;
}

.close2:hover,
.close2:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  text-align: center;
  background-color: #6DAF54;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  margin-right: 50px;
  padding: 10px 20px;
  background-color: #fff;
  color: white;
}